{% extends "skeleton.html" %}

{% block body %}
    <section id="index">
        <h1>Possible Translations API</h1>
        <p title="🙈">This is the API endpoint for Possible Translations.</p>
        <p title="🙊"><a href="https://documenter.getpostman.com/view/4826790/RWMCt9fH">API Documentation</a>.</p>
        <p title="🙉"><a href="https://possibletranslations.com">Frontend</a>.</p>
        <p title="🐒"><a href="https://github.com/qirh/pt">Git Repo</a>.</p>

    </section>

{% endblock %}