{% extends "skeleton.html" %}

{% block body %}
    <section id="index">
        <h1>Possible Translations</h1>

        <form method="POST" action="/">

            <input style="display: inline" type="text" name="word">

            <select id="dropdown" name="target">
                <option disabled selected value="en">Target Language: en</option>
                {% for lang in langs %}
                    <option value="{{lang.language | safe}}">{{lang.name}}</option>
                {% endfor %}
            </select>

            <input style="display: inline" type="submit" value="Find Language">

        </form>
    </section>

    <section id="button">
        <h1>Words</h1>

    </section>

    <section id="table">
        <table style="width:100%">
            <tr>
                <th>Sentence</th>
                <th>Target lang</th>
                <th>Detected Lang(1)</th>
                <th>Translation(1)</th>
                <th>Detected Lang(2)</th>
                <th>Translation(2)</th>
                <th>Detected Lang(3)</th>
                <th>Translation(3)</th>
            </tr>

            {% for word in words %}
                <tr>
                    <td>{{ word.word }}</td>
                    <td>{{ word.target_lang }}</td>
                    <td>{{ word.lang_1 }}</td>
                    <td>{{ word.translation_1 }}</td>
                    <td>{{ word.lang_2 }}</td>
                    <td>{{ word.translation_2 }}</td>
                    <td>{{ word.lang_3 }}</td>
                    <td>{{ word.translation_3 }}</td>
                </tr>
            {% endfor %}
        </table>
    </section>

    <script>

    </script>

{% endblock %}