html {
    position: relative;
    min-height: 100%;
    height: 100%;
}
body {
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin: 1rem 1rem 1rem 1rem;
    height: 100%;
}
h1, h2, th {
    font-family: Junge, monospace;
    margin-bottom: 1.25rem;
}
th {
    font-weight:bold;
}
h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
}
h2 {
    font-size: 1.5rem;
}
p, ul, td, a {
    font-family: Junge, monospace;
    font-size: 1rem;
}
p, ul, td {
    margin-bottom: 1rem;
}
section {
    margin-bottom: 2rem;
}
table, th, td {
    border: 1px solid black;
}


/* Mobile */
@media only screen and (max-width: 599px) {

}
/* Tablets */
@media only screen and (min-width: 600px) {

}
/* Desktop */
@media only screen and (min-width: 768px) {
}
