/* Mobile First */
* {
  font-family: Junge, serif;
}
h1, h2, th {
  padding-top: 0.5rem;
  margin-bottom: 1rem;
  font-size: 1.25rem;
  font-weight: bold;
  text-align: center;
}
h1 {
  font-size: 1.50rem;
}
body > *, .-btn, .submit-main > * {
  font-size: 1rem;
}

/* App.js */
.app {
  text-align: center;
}
.app-header {
  margin-top: 0;
	height: 3rem;
	background-color: #0a699f;
  color: #FFFFFF;
  border-radius: 0.3rem;
}
.app-header-title {
  white-space: nowrap;
}
.app-header-git {
  width: 1.5rem;
  height: 1.5rem;
  margin-left: 1rem;
}
.app-header-subtext {
  display: none;
}
.ReactTable {
  height: 70vh;
}
.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

/* SubmitWord.js */
.submit-main {
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 2rem;
  padding-bottom: 2rem;
  width: 100%
}
.submit-main > *, .rt-th > *, h3, option, select {
  font-family: Muli, serif;
}
select {
}
.-btn, .submit-main-button-find, .submit-main-button-export {
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  border-radius: 0.2rem;
  color: #FFFFFF !important;
  background-color: #0a699f !important;
}
.submit-main-input {
  width:60%;
  border-radius: 0.3rem;
  border: 0.05rem solid #0a699f;
}
.drop {
  width: 40%;
}
.submit-main-button-find {
  width: 30%;
}
.submit-main-input, .drop {
  margin-right: 0.7rem;
}
.submit-main-button-find, .submit-main-button-export {
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
}
.submit-main-button-export {
  text-decoration: none;
}
.submit-sweet-loading {
  padding-left: 50%;
}

/* Desktop */
@media only screen and (min-width: 900px) {

  /* App.js */
  .app-header {
  	height: 6rem;
    border-radius: 0.6rem;
  }
  .app-header-subtext {
    display: block;
  }
  .ReactTable {
    height: 70vh;
  }

  /* SubmitWord.js */
  .submit-main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 2rem;
    padding-bottom: 2rem;
    width: 100%
  }
  .submit-main-input {
    width: 32%;
  }
  .drop {
    width: 20%;
  }
  .submit-main-button-find {
    width: 30%;
  }
  .submit-main-button-export {
    width: 10%;
  }
  .submit-main-input, .drop, .submit-main-button-find {
    margin-right: 0.7rem;
  }
}
