/* Mobile First */

* {
  font-family: Junge, serif;
}
h1, h2, th {
  padding-top: 0.5rem;
  margin-bottom: 1rem;
  font-size: 1.25rem;
  font-weight: bold;
  text-align: center;
}
h1 {
  font-size: 1.50rem;
}
p, body, input, button, option, select, .submit-main-button-export {
  font-size: 1rem;
}

/* index.html */
.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

/* App.js */
.app {
  text-align: center;
}
.app-header {
  margin-top: 0;
	height: 50px;
	background-color: #0a699f;
  color: #FFFFFF;
  border-radius: 8px;
}
.app-header-title {
  white-space: nowrap;
}
.app-header-git {
  width: 20px;
  height: 20px;
  margin-left: 10px;
}
.app-header-subtext {
  display: none;
}
.ReactTable {
  height: 450px
}

/* SubmitWord.js */
.submit-main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 50px;
  padding-bottom: 50px;
  font-size: 20px;
  width: 100%
}
.submit-main > *, .rt-th > *, h3, option, select {
  font-family: Muli, serif;
}
button, .-btn, .submit-main-button-find, .submit-main-button-export {
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  border-radius: 4px;
  color: #FFFFFF !important;
  background-color: #0a699f !important;
}
.submit-main-input {
  width:40%;
  border-radius: 6px;
  border: 1px solid #0a699f;
}
.submit-main-button-find, .submit-main-button-export {
  padding-top: 3px;
  padding-bottom: 3px;
  /*padding-left: 8px;
  padding-right: 8px;*/
}
.submit-main-button-find {
  /*margin-right: 10px;*/
}
.submit-main-button-export {
  text-decoration: none;
}
.submit-sweet-loading {
  padding-left: 50%;
}

/* DropDown.js
.drop {
  width: 200px;
  margin-left: 1rem;
  margin-right: 1rem;
}*/

/* Desktop */
@media only screen and (min-width: 600px) {

  /* App.js */
  .app-header {
  	height: 100px;
  }
  .app-header-subtext {
    display: block;
  }
  .app-header-git {
    width: 30px;
    height: 30px;
    margin-left: 15px;
  }
  .submit-main-input {
    width: 32%;
  }
  .drop {
    width: 20%;
  }
  .submit-main-button-find {
    width: 30%;
  }
  .submit-main-button-export {
    width: 10%;
  }
  .submit-main-input, .drop, .submit-main-button-find {
    margin-right: 10px;
  }
}
